.btn{
  display: inline-block;
  height: 5.4rem;
  min-width: 5.4rem;
  text-align: center;
  border: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  @include respond-above(md){
    transition: opacity .25s ease-in-out;
    opacity: 1;
    &:hover{
      opacity: .7;
    }
  }
  &__content{
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    span{
      margin-left: 1rem;
    }
  }
  &--default{
    background-color: var(--color__default);
  }
  &--fb{
    background-color: var(--color__fb);
  }
  &--in{
    background-color: var(--color__in);
  }
  &--fbm{
    background-color: var(--color__fbm);
  }
  &--brand{
    background-color: var(--color__brand);
  }
}