.carousel{
  margin: 4rem 0 3rem;
  @include respond-above(sm){
    margin: 10rem 0;
  }
  &__slide{
    cursor: pointer;
    &:hover{
      .overlay{
        opacity: 0;
      }

      .slide__header{
        opacity: 0.8;
      }
    }
    .slide{
      &__subheader{
        font-size: 1.6rem;
        padding-top: 2rem;
        color: #828282;
        font-weight: normal;
      }

      &__header{
        padding-top: 2rem;
        font-size: 2.4rem;
        color: var(--color__brand);
        transition: opacity .2s ease;
      }
    }
  }
}
.tns-outer{
  position: relative;
  .tns-nav{
    position: absolute;
    width: 100%;
    top: 2rem;
    right: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    @include respond-above(xs){
      justify-content: flex-end;
    }
    @include respond-above(sm){
      top: 5rem;
    }
  
    button{
      line-height: 1;
      cursor: pointer;
      display: block;
      height: 0.2rem;
      width: 2rem;
      border: none;
      background-color: #000;
      opacity: 0.1;
      font-size: 0;
      outline: none;
      cursor: pointer;
      margin-left: 1rem;
      @include respond-above(sm){
        width: 4rem;
      }
      &.tns-nav-active{
          background-color: var(--color__brand);
          opacity: 1;
      }
    }
  }
}