.content{
  &__buttons{
    order: 99999;
    .btn{
      display: block;
      margin-top: 2rem;
      img{
        max-width: 2rem;
        max-height: 2rem;
        width: 100%;
        height: 100%;
      }
      @include respond-above(xs){
        margin-top: 0;
        &:not(:first-of-type){
          margin-left: 1rem;
        }
      }
    }
  }
  &__body{
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 1.4rem;
    line-height: 1.5;
    @include respond-above(sm){
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-size: 1.8rem;
    }
    &-columns{
      @include respond-above(sm){
        column-count: 2;
        column-gap: 6rem;
      } 
    }
    &-header{
      line-height: 1;
      font-size: 3.6rem;
      color: var(--color__brand);
      padding-bottom: 2rem;
      @include respond-above(sm){
        font-size: 7.2rem;
        padding-bottom: 4rem;
      }
    }
    &-list{
      padding-left: 3rem;
    }
    p + p,
    h1 + p,
    ul + p,
    p + a,
    a + p{
      margin-top: 2rem;
      @include respond-above(sm){
        margin-top: 4rem;
      }
    }

    p + ul{
      margin-top: 1rem;
    }

    li{
      & + li{
        padding-top: 1rem;
      }
    }
  }
  &__mask{
    position: relative;
    @include respond-below(sm, null){
      display: flex;
      flex-direction: column;
    }
  }
}