.hero{
  max-width: 116rem;
  margin-left: auto;
  margin-right: auto;
  &__video{
    display: block;
    width: 100%;
    outline: none;
    // &::cue{
    //   color: var(--color__subtitle);
    //   background: var(--color__subtitle--background) !important;
    //   font-size: var(--fz__subtitles)
    // }
    // &::-webkit-media-text-track-background{
    //   background: var(--color__subtitle--background) !important;
    // }
    &.playing{
      & + .overlay,
      & + div .hero__play{
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &__play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
  }
}