.hero{
  max-width: 116rem;
  margin-left: auto;
  margin-right: auto;
  &__video{
    display: block;
    width: 100%;
    outline: none;
    &.playing{
      & + .overlay,
      & + div .hero__play{
        opacity: 0;
        visibility: hidden;
      }
    }
    &.paused{
      &::-webkit-media-controls-overlay-play-button {
        display: none;
      }
    }
  }
  &__play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
  }
}