.hero{
  max-width: 116rem;
  margin-left: auto;
  margin-right: auto;
  &__video{
    &.vjs-playing{
      & + .overlay{
        opacity: 0;
        visibility: hidden;
      }
    }
    video{
      outline: none;
    }

    .vjs-big-play-button{
      display: none !important;
    }
  }
}