.topbar{
  max-height: 8rem;
  background-color: #fff;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  &__logo{
    img{
      height: var(--height__logo);
    }
  }

  .btn{
    min-width: 9.5rem;
  }
  .container{
    width: 100%;
  }
}

// flexbox fix for IE11
@media all and (-ms-high-contrast:none){
  *::-ms-backdrop, .topbar:after { 
    content:'';
    min-height:inherit;
    font-size:0;
  }
}