:root {
  // fonts
  --ff__primary: "Roboto", sans-serif;

  // brand color
  --color__brand: #00234f;

  // buttons background colors
  --color__fb: #415893;
  --color__fbm: #0078ff;
  --color__in: #0075a8;
  --color__default: #2b2e2f;
  
  // text colors
  --color__text--primary: #000;
  --color__text--secondary: #828282;
}